*
{
	margin: 0;
	padding: 0;
}
html,body
{
	height: 100%;
	
}
#home{
	background:  url('../image/body.jpg')center center no-repeat;
	background-size: cover;
}

/* What we do*/
.section-content{
	padding: 1rem;
}
.samplecontainer {
  position: relative;
   padding: 0px;
  margin-bottom: 6px;
  opacity: .95;
  width: 55%;
 margin-left: 10px;
 
}
img.tryimage {
  display: block;
  width: 200px;
  height: 200px;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #1c4c3e;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: .90;
}
.twocolumn {
   float: left;
  width: 33.33%;
   
}
.contactForm {
  float: left;
  width: 50%;
  padding: 0px;
  margin-top: 10px;
}
.contactsocial {
  float: left;
  width: 40%;
  padding: 0px;
  margin-top: 10px;
}
.samplecontainer:hover .overlay {
  width: 200px;
  left: 0;
  right: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-weight: 900;

}


.card{
	padding:1rem;
}
/*About*/

.about-text
{
	background: rgba(0,0,0,0.8);
	color: black;
	padding: 1rem;
	
}
.about-text2
{
	background: rgba(0,0,0,0.8);
	color: black;
	padding: 1.875rem;


}
.about-text3{
	background: rgba(0,0,0,0.8);
	color: black;
	padding: 1.875rem;
	width: 100%;
	height: 110%;
}
/*Footer*/
#footer-main {
background: #222;
color:white;
font-size: 0.8rem;
padding: 2.5rem 0;
list-style: none;
}
.grids{
	background: white;
}


@media(max-width: 575.98px){

	#cover-caption h1{
		font-family: Italic;
	}
}
/*#about{
	background: url('../image/pahiram.png') center center no-repeat;
	background-size: cover;

}*/

/*.col-lg-3{
	background-color: #aaa592;
}
.col-lg-4{
	background-color: #91ad9c;
}
.col-lg-6{
	background-color: #c4b0c3;
}
.col-lg-12{
	background-color: #b3b599;
}
.col-lg-8	{
	background-color: #c9ddda;
}*/
li , ul{
	color: white;
}

/*Try*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 20px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}